.desktop-7-child19 {
  position: absolute;
  top: 50px;
  left: 120px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  width: 1200px;
  height: 100px;
}
.rambagh-palace-1 {
  position: absolute;
  top: 77px;
  left: 473px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  font-weight: 900;
  width: 494px;
  height: 47px;
}
.desktop-7-child20 {
  position: absolute;
  top: 201px;
  left: 50px;
  background-color: var(--color-white);
  width: 428px;
  height: 697px;
}
.looking-the-gardens,
.room-and-living,
.royal-family-with,
.these-suites-are-equipped,
.these-suites-were {
  margin: 0;
}
.these-suites-were-container {
  position: absolute;
  top: 613px;
  left: 65px;
  font-size: var(--font-size-base);
}
.desktop-7-child21 {
  position: absolute;
  top: 830px;
  left: 199px;
  border-radius: var(--br-31xl);
  background-color: var(--color-burlywood);
  width: 133px;
  height: 30px;
  cursor: pointer;
}
.garden-view,
.pillow-menu1,
.size-139-144-sq {
  position: absolute;
  top: 760px;
  left: 209px;
  font-family: var(--font-berkshire-swash);
}
.garden-view,
.size-139-144-sq {
  top: 782px;
  left: 208px;
}
.size-139-144-sq {
  top: 735px;
  left: 181px;
  display: inline-block;
  width: 166px;
  mix-blend-mode: normal;
}
.grand-royal-suite {
  position: absolute;
  top: 554px;
  left: 98px;
  font-size: var(--font-size-21xl);
  font-weight: 300;
}
.desktop-7-child22 {
  position: absolute;
  top: 201px;
  left: 512px;
  background-color: var(--color-white);
  width: 428px;
  height: 697px;
}
.desktop-7-child23 {
  position: absolute;
  top: 833px;
  left: 659px;
  border-radius: var(--br-31xl);
  background-color: var(--color-burlywood);
  width: 133px;
  height: 30px;
  cursor: pointer;
}
.book-now8 {
  position: absolute;
  top: 836px;
  left: 676px;
  font-weight: 900;
  color: var(--color-white);
}
.size-65-70-sq,
.softer-beds1 {
  margin: 0;
  white-space: pre-wrap;
}
.bedroom-garden-view {
  margin: 0;
}
.size-65-70-sq-container {
  position: absolute;
  top: 740px;
  left: 548px;
  font-family: var(--font-berkshire-swash);
  display: inline-block;
  width: 355px;
  height: 75px;
}
.historical-suite {
  position: absolute;
  top: 552px;
  left: 569px;
  font-size: var(--font-size-21xl);
  font-weight: 300;
  display: inline-block;
  width: 302px;
  height: 52px;
}
.desktop-7-child24 {
  position: absolute;
  top: 201px;
  left: 972px;
  background-color: var(--color-white);
  width: 428px;
  height: 697px;
}
.itc-1-13 {
  position: absolute;
  top: 276px;
  left: 70px;
  width: 388px;
  height: 240px;
  object-fit: cover;
}
.book-now9 {
  position: absolute;
  top: 833px;
  left: 216px;
  font-weight: 900;
  color: var(--color-white);
}
.itc2-1-icon3 {
  position: absolute;
  top: 276px;
  left: 560px;
  width: 332.7px;
  height: 240px;
  object-fit: cover;
}
.suites-are-decorated,
.while-maintaining-the {
  margin: 0;
}
.transparent-fabrics-and {
  margin: 0;
  white-space: pre-wrap;
}
.renovated-these-suites {
  margin: 0;
}
.with-marble-or {
  margin: 0;
  white-space: pre-wrap;
}
.suites-divided-into {
  margin: 0;
}
.while-maintaining-the-container {
  position: absolute;
  top: 613px;
  left: 532px;
  font-size: var(--font-size-base);
}
.some-of-the {
  margin: 0;
}
.of-the-maharaja,
.suites-divided-into1,
.to-the-bygone {
  margin: 0;
  white-space: pre-wrap;
}
.some-of-the-container {
  position: absolute;
  top: 623px;
  left: 981px;
  font-size: var(--font-size-base);
}
.itc3-1-icon3 {
  position: absolute;
  top: 272px;
  left: 992px;
  width: 388px;
  height: 240px;
  object-fit: cover;
}
.royal-suite1 {
  position: absolute;
  top: 550px;
  left: 1069px;
  font-size: var(--font-size-21xl);
  font-weight: 300;
  display: inline-block;
  width: 234px;
  height: 41px;
}
.size-102-107-sq {
  margin: 0;
  white-space: pre-wrap;
}
.softer-beds2 {
  margin: 0;
}
.garden-view-or {
  margin: 0;
  white-space: pre-wrap;
}
.size-102-107-sq-container {
  position: absolute;
  top: 735px;
  left: 1032px;
  font-family: var(--font-berkshire-swash);
}
.desktop-7-child25 {
  position: absolute;
  top: 833px;
  left: 1119px;
  border-radius: var(--br-31xl);
  width: 133px;
  height: 30px;
  cursor: pointer;
}
.book-now10 {
  position: absolute;
  top: 836px;
  left: 1136px;
  font-weight: 900;
  color: var(--color-white);
}
.download-4-icon16 {
  position: absolute;
  top: 73px;
  left: 14px;
  width: 75px;
  height: 75px;
  object-fit: cover;
  mix-blend-mode: color-burn;
  cursor: pointer;
}
.location-dot-solid-3-icon2 {
  position: absolute;
  top: 73px;
  left: 1350px;
  width: 50px;
  height: 74px;
  overflow: hidden;
  cursor: pointer;
}
.desktop-12,
.desktop-73 {
  height: 1024px;
  overflow: hidden;
}
.desktop-73 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkgray);
  width: 1440px;
}
.desktop-12 {
  width: 100%;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #b4b4b8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
