.desktop-9-child {
  position: absolute;
  top: 60px;
  left: 120px;
  border-radius: var(--br-31xl);
  width: 1200px;
  height: 100px;
}
.the-leela-gandhinagar1 {
  position: absolute;
  top: 86px;
  left: 489px;
  font-size: var(--font-size-21xl);
  font-weight: 900;
}
.desktop-9-inner,
.desktop-9-item {
  position: absolute;
  top: 210px;
  left: 506px;
  background-color: var(--color-white);
  width: 428px;
  height: 697px;
}
.desktop-9-inner {
  left: 52px;
}
.a-delightfully-classic,
.sweeping-views-of {
  margin: 0;
  white-space: pre-wrap;
}
.environs-skyline-and {
  margin: 0;
}
.comes-with-24x7,
.complimentary-food-and,
.royal-cub {
  margin: 0;
  white-space: pre-wrap;
}
.a-delightfully-classic-container {
  position: absolute;
  top: 621px;
  left: 103px;
  font-size: var(--font-size-base);
}
.engage-in-friendly {
  margin: 0;
  white-space: pre-wrap;
}
.discussions-over-mouthwatering {
  margin: 0;
}
.inspired-mocktails-at,
.next-to-the,
.with-signature-fresh {
  margin: 0;
  white-space: pre-wrap;
}
.engage-in-friendly-container {
  position: absolute;
  top: 621px;
  left: 556px;
  font-size: var(--font-size-base);
}
.desktop-9-child1 {
  position: absolute;
  top: 210px;
  left: 960px;
  background-color: var(--color-white);
  width: 428px;
  height: 697px;
}
.comfortable-place {
  position: absolute;
  top: 774px;
  left: 1100px;
  font-family: var(--font-berkshire-swash);
}
.cater-to-events,
.from-strategic-huddles,
.multi-day-summits-for,
.spaces-with-cutting-edge,
.where-luxury-meets {
  margin: 0;
  white-space: pre-wrap;
}
.bring-people-together {
  margin: 0;
}
.where-luxury-meets-container {
  position: absolute;
  top: 621px;
  left: 989px;
  font-size: var(--font-size-base);
}
.leela1-1-icon {
  position: absolute;
  top: 265px;
  left: 137px;
  width: 259px;
  height: 280px;
  object-fit: cover;
}
.moksha-lounge,
.royal-suite {
  position: absolute;
  top: 559px;
  left: 162px;
  font-size: var(--font-size-21xl);
  font-weight: 300;
}
.moksha-lounge {
  left: 571px;
}
.pillow-menu,
.size-592-sq {
  margin: 0;
  white-space: pre-wrap;
}
.size-592-sq-container {
  position: absolute;
  top: 754px;
  left: 185px;
  font-family: var(--font-berkshire-swash);
}
.desktop-9-child2 {
  position: absolute;
  top: 843px;
  left: 212px;
  border-radius: var(--br-31xl);
  background-color: var(--color-burlywood);
  width: 133px;
  height: 30px;
  cursor: pointer;
}
.book-now2 {
  position: absolute;
  top: 846px;
  left: 229px;
  font-weight: 900;
  color: var(--color-white);
}
.leela2-1-icon {
  position: absolute;
  top: 273px;
  left: 526px;
  width: 388px;
  height: 272.2px;
  object-fit: cover;
}
.lobby-level,
.relaxed1 {
  margin: 0;
  white-space: pre-wrap;
}
.operational-period-lunch1 {
  margin: 0;
}
.lobby-level-relaxed-container {
  position: absolute;
  top: 754px;
  left: 573px;
  font-family: var(--font-berkshire-swash);
}
.desktop-9-child3 {
  position: absolute;
  top: 846px;
  left: 615px;
  border-radius: var(--br-31xl);
  background-color: var(--color-burlywood);
  width: 230px;
  height: 30px;
  cursor: pointer;
}
.reserve-a-table1 {
  position: absolute;
  top: 849px;
  left: 638px;
  font-weight: 900;
  color: var(--color-white);
}
.leela3-1-icon {
  position: absolute;
  top: 289px;
  left: 980px;
  width: 388px;
  height: 240px;
  object-fit: cover;
}
.meetings {
  position: absolute;
  top: 559px;
  left: 1087px;
  font-size: var(--font-size-21xl);
  font-weight: 300;
}
.desktop-9-child4 {
  position: absolute;
  top: 846px;
  left: 1107px;
  border-radius: var(--br-31xl);
  background-color: var(--color-burlywood);
  width: 133px;
  height: 30px;
  cursor: pointer;
}
.book-now3 {
  position: absolute;
  top: 849px;
  left: 1124px;
  font-weight: 900;
  color: var(--color-white);
}
.download-4-icon13 {
  position: absolute;
  top: 73px;
  left: 14px;
  width: 75px;
  height: 75px;
  object-fit: cover;
  mix-blend-mode: color-burn;
  cursor: pointer;
}
.location-dot-solid-3-icon {
  position: absolute;
  top: 74px;
  left: 1351px;
  width: 50px;
  height: 74px;
  overflow: hidden;
  cursor: pointer;
}
.desktop-9 {
  width: 100%;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #b4b4b8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
