.desktop-7-child5 {
  position: absolute;
  top: 51px;
  left: 120px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  width: 1200px;
  height: 100px;
}
.the-taj-mahal1 {
  position: absolute;
  top: 77px;
  left: 421px;
  font-size: var(--font-size-21xl);
  font-weight: 900;
}
.desktop-7-child6 {
  position: absolute;
  top: 201px;
  left: 50px;
  background-color: var(--color-white);
  width: 428px;
  height: 697px;
}
.jet-setting-business-traveller,
.offer-you-complete,
.perfect-for-meditation,
.these-cozy-rooms,
.wing-are-the {
  margin: 0;
}
.these-cozy-rooms-container {
  position: absolute;
  top: 623px;
  left: 71px;
  font-size: var(--font-size-base);
}
.desktop-7-child7 {
  position: absolute;
  top: 830px;
  left: 199px;
  border-radius: var(--br-31xl);
  background-color: var(--color-burlywood);
  width: 133px;
  height: 30px;
  cursor: pointer;
}
.inclusive-of-wifi {
  position: absolute;
  top: 755px;
  left: 156px;
  font-family: var(--font-berkshire-swash);
  white-space: pre-wrap;
}
.hour-personalised-butler,
.size-33-sq {
  position: absolute;
  top: 780px;
  left: 143px;
  font-family: var(--font-berkshire-swash);
}
.size-33-sq {
  top: 730px;
  left: 206px;
  mix-blend-mode: normal;
}
.luxury-room {
  position: absolute;
  top: 550px;
  left: 143px;
  font-size: var(--font-size-21xl);
  font-weight: 300;
}
.desktop-7-child8 {
  position: absolute;
  top: 201px;
  left: 512px;
  background-color: var(--color-white);
  width: 428px;
  height: 697px;
}
.desktop-7-child9 {
  position: absolute;
  top: 833px;
  left: 605px;
  border-radius: var(--br-31xl);
  background-color: var(--color-burlywood);
  width: 230px;
  height: 30px;
  cursor: pointer;
}
.reserve-a-table2 {
  position: absolute;
  top: 836px;
  left: 628px;
  font-weight: 900;
  color: var(--color-white);
}
.express-check-in1,
.size-121-sq {
  margin: 0;
  white-space: pre-wrap;
}
.higher-floor-with1 {
  margin: 0;
}
.size-121-sq-container {
  position: absolute;
  top: 735px;
  left: 615px;
  font-family: var(--font-berkshire-swash);
}
.grande-luxury {
  position: absolute;
  top: 550px;
  left: 588px;
  font-size: var(--font-size-21xl);
  font-weight: 300;
  display: inline-block;
  width: 275px;
}
.desktop-7-child10 {
  position: absolute;
  top: 201px;
  left: 972px;
  background-color: var(--color-white);
  width: 428px;
  height: 697px;
}
.itc-1-11 {
  position: absolute;
  top: 276px;
  left: 70px;
  width: 388px;
  height: 240px;
  object-fit: cover;
}
.book-now4 {
  position: absolute;
  top: 833px;
  left: 216px;
  font-weight: 900;
  color: var(--color-white);
}
.itc2-1-icon1 {
  position: absolute;
  top: 276px;
  left: 560px;
  width: 332.7px;
  height: 240px;
  object-fit: cover;
}
.living-area-and,
.these-picturesque-thematic {
  margin: 0;
}
.suites-have-a {
  margin: 0;
  white-space: pre-wrap;
}
.inclusive-02-way-airport {
  margin: 0;
}
.and-02-pieces {
  margin: 0;
  white-space: pre-wrap;
}
.these-picturesque-thematic-container {
  position: absolute;
  top: 623px;
  left: 527px;
  font-size: var(--font-size-base);
}
.created-in-the,
.fine-architectural-detailing,
.is-an-extravagance,
.priceless-paintings-authentic {
  margin: 0;
}
.that-created-it {
  margin: 0;
  white-space: pre-wrap;
}
.created-in-the-container {
  position: absolute;
  top: 623px;
  left: 997px;
  font-size: var(--font-size-base);
}
.itc3-1-icon1 {
  position: absolute;
  top: 272px;
  left: 992px;
  width: 388px;
  height: 240px;
  object-fit: cover;
}
.the-tata-suite {
  position: absolute;
  top: 550px;
  left: 1050px;
  font-size: var(--font-size-21xl);
  font-weight: 300;
}
.size-465-sq {
  margin: 0;
  white-space: pre-wrap;
}
.softer-beds {
  margin: 0;
}
.higher-floor-with2 {
  margin: 0;
  white-space: pre-wrap;
}
.size-465-sq-container {
  position: absolute;
  top: 735px;
  left: 1032px;
  font-family: var(--font-berkshire-swash);
}
.desktop-7-child11 {
  position: absolute;
  top: 833px;
  left: 1119px;
  border-radius: var(--br-31xl);
  background-color: var(--color-burlywood);
  width: 133px;
  height: 30px;
  cursor: pointer;
}
.book-now5 {
  position: absolute;
  top: 836px;
  left: 1136px;
  font-weight: 900;
  color: var(--color-white);
}
.download-4-icon14 {
  position: absolute;
  top: 73px;
  left: 14px;
  width: 75px;
  height: 75px;
  object-fit: cover;
  mix-blend-mode: color-burn;
  cursor: pointer;
}
.location-dot-solid-4-icon {
  position: absolute;
  top: 64px;
  left: 1350px;
  width: 50px;
  height: 74px;
  overflow: hidden;
  cursor: pointer;
}
.desktop-10,
.desktop-71 {
  height: 1024px;
  overflow: hidden;
}
.desktop-71 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkgray);
  width: 1440px;
}
.desktop-10 {
  width: 100%;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #b4b4b8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
