.desktop-7-child12 {
  position: absolute;
  top: 51px;
  left: 120px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  width: 1200px;
  height: 100px;
}
.the-taj-itc {
  position: absolute;
  top: 74px;
  left: 170px;
  font-size: var(--font-size-21xl);
  font-weight: 900;
}
.desktop-7-child13 {
  position: absolute;
  top: 201px;
  left: 50px;
  background-color: var(--color-white);
  width: 428px;
  height: 697px;
}
.endless-space-and,
.mark-these-rooms {
  margin: 0;
  white-space: pre-wrap;
}
.exceptional-amenities-superb {
  margin: 0;
}
.service {
  margin: 0;
  white-space: pre-wrap;
}
.endless-space-and-container {
  position: absolute;
  top: 623px;
  left: 76px;
  font-size: var(--font-size-base);
}
.desktop-7-child14 {
  position: absolute;
  top: 830px;
  left: 199px;
  border-radius: var(--br-31xl);
  background-color: var(--color-burlywood);
  width: 133px;
  height: 30px;
  cursor: pointer;
}
.floor-butler-service,
.luxury-hours-with,
.size-51m {
  position: absolute;
  top: 755px;
  left: 181px;
  font-family: var(--font-berkshire-swash);
}
.luxury-hours-with,
.size-51m {
  top: 780px;
  left: 145px;
}
.size-51m {
  top: 730px;
  left: 220px;
  mix-blend-mode: normal;
}
.itc-one {
  position: absolute;
  top: 556px;
  left: 188px;
  font-size: var(--font-size-21xl);
  font-weight: 300;
}
.desktop-7-child15 {
  position: absolute;
  top: 201px;
  left: 512px;
  background-color: var(--color-white);
  width: 428px;
  height: 697px;
}
.desktop-7-child16 {
  position: absolute;
  top: 833px;
  left: 605px;
  border-radius: var(--br-31xl);
  background-color: var(--color-burlywood);
  width: 230px;
  height: 30px;
  cursor: pointer;
}
.reserve-a-table3 {
  position: absolute;
  top: 836px;
  left: 628px;
  font-weight: 900;
  color: var(--color-white);
}
.fine-dining,
.operational-period-dinner,
.progressive-south-indian {
  margin: 0;
}
.progressive-south-indian-container {
  position: absolute;
  top: 735px;
  left: 608px;
  font-family: var(--font-berkshire-swash);
}
.avartana {
  position: absolute;
  top: 552px;
  left: 641px;
  font-size: var(--font-size-21xl);
  font-weight: 300;
  display: inline-block;
  width: 169px;
}
.desktop-7-child17 {
  position: absolute;
  top: 201px;
  left: 972px;
  background-color: var(--color-white);
  width: 428px;
  height: 697px;
}
.itc-1-12 {
  position: absolute;
  top: 276px;
  left: 70px;
  width: 388px;
  height: 240px;
  object-fit: cover;
}
.book-now6 {
  position: absolute;
  top: 833px;
  left: 216px;
  font-weight: 900;
  color: var(--color-white);
}
.itc2-1-icon2 {
  position: absolute;
  top: 276px;
  left: 560px;
  width: 332.7px;
  height: 240px;
  object-fit: cover;
}
.exemplifies-an-exclusive {
  margin: 0;
}
.progressive-renditions-of {
  margin: 0;
  white-space: pre-wrap;
}
.cuisine-which-is,
.unique-tastes-aromas {
  margin: 0;
}
.indian-spices {
  margin: 0;
  white-space: pre-wrap;
}
.exemplifies-an-exclusive-container {
  position: absolute;
  top: 623px;
  left: 547px;
  font-size: var(--font-size-base);
}
.deluxe-suites-offer,
.tastefully-adorned-in,
.that-are-reminiscent {
  margin: 0;
}
.services {
  margin: 0;
  white-space: pre-wrap;
}
.tastefully-adorned-in-container {
  position: absolute;
  top: 623px;
  left: 1001px;
  font-size: var(--font-size-base);
}
.itc3-1-icon2 {
  position: absolute;
  top: 272px;
  left: 992px;
  width: 388px;
  height: 240px;
  object-fit: cover;
}
.deluxe-suite1 {
  position: absolute;
  top: 550px;
  left: 1069px;
  font-size: var(--font-size-21xl);
  font-weight: 300;
  display: inline-block;
  width: 234px;
  height: 41px;
}
.size-86m {
  margin: 0;
  white-space: pre-wrap;
}
.daily-in-room-complimentary {
  margin: 0;
}
.floor-butler-service1 {
  margin: 0;
  white-space: pre-wrap;
}
.size-86m-daily-container {
  position: absolute;
  top: 735px;
  left: 1018px;
  font-family: var(--font-berkshire-swash);
}
.desktop-7-child18 {
  position: absolute;
  top: 833px;
  left: 1119px;
  border-radius: var(--br-31xl);
  background-color: var(--color-burlywood);
  width: 133px;
  height: 30px;
  cursor: pointer;
}
.book-now7 {
  position: absolute;
  top: 836px;
  left: 1136px;
  font-weight: 900;
  color: var(--color-white);
}
.itc-maratha-mumbai {
  position: absolute;
  top: 591px;
  left: 628px;
  font-family: var(--font-berkshire-swash);
}
.download-4-icon15 {
  position: absolute;
  top: 73px;
  left: 14px;
  width: 75px;
  height: 75px;
  object-fit: cover;
  mix-blend-mode: color-burn;
  cursor: pointer;
}
.desktop-72 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkgray);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
}
.location-dot-solid-3-icon1 {
  position: absolute;
  top: 74px;
  left: 1350px;
  width: 50px;
  height: 74px;
  overflow: hidden;
  cursor: pointer;
}
.desktop-11 {
  width: 100%;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #b4b4b8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
