.desktop-7-child26 {
  position: absolute;
  top: 51px;
  left: 120px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  width: 1200px;
  height: 100px;
}
.fort-rajwada-jaisalmer1 {
  position: absolute;
  top: 78px;
  left: 473px;
  font-size: var(--font-size-21xl);
  text-decoration: underline;
  display: inline-block;
  font-style: italic;
  font-weight: 900;
  color: inherit;
  width: 494px;
  height: 47px;
}
.desktop-7-child27 {
  position: absolute;
  top: 201px;
  left: 50px;
  background-color: var(--color-white);
  width: 428px;
  height: 697px;
}
.the-extraordinary-family {
  margin: 0;
}
.fort-rajwada-which,
.king-sized-beds {
  margin: 0;
  white-space: pre-wrap;
}
.tubs-offering-luxury {
  margin: 0;
}
.ambience-in-this,
.by-the-expansive,
.you-and-your {
  margin: 0;
  white-space: pre-wrap;
}
.the-extraordinary-family-container {
  position: absolute;
  top: 604px;
  left: 57px;
  font-size: var(--font-size-base);
}
.desktop-7-child28 {
  position: absolute;
  top: 830px;
  left: 199px;
  border-radius: var(--br-31xl);
  background-color: var(--color-burlywood);
  width: 133px;
  height: 30px;
  cursor: pointer;
}
.coffee-table-set,
.living-room,
.size-121-sq1 {
  position: absolute;
  top: 758px;
  left: 143px;
  font-family: var(--font-berkshire-swash);
}
.living-room,
.size-121-sq1 {
  top: 783px;
  left: 212px;
}
.size-121-sq1 {
  top: 737px;
  left: 197px;
  display: inline-block;
  width: 134px;
  mix-blend-mode: normal;
}
.family-suite {
  position: absolute;
  top: 554px;
  left: 150px;
  font-size: var(--font-size-21xl);
  font-weight: 300;
}
.desktop-7-child29 {
  position: absolute;
  top: 201px;
  left: 512px;
  background-color: var(--color-white);
  width: 428px;
  height: 697px;
}
.desktop-7-child30 {
  position: absolute;
  top: 833px;
  left: 659px;
  border-radius: var(--br-31xl);
  background-color: var(--color-burlywood);
  width: 133px;
  height: 30px;
  cursor: pointer;
}
.book-now11 {
  position: absolute;
  top: 836px;
  left: 676px;
  font-weight: 900;
  color: var(--color-white);
}
.bathroom-amenities,
.size-102-sq {
  margin: 0;
  white-space: pre-wrap;
}
.bedroom-garden-view1 {
  margin: 0;
}
.royale-suite,
.size-102-sq-container {
  position: absolute;
  display: inline-block;
}
.size-102-sq-container {
  top: 742px;
  left: 548px;
  font-family: var(--font-berkshire-swash);
  width: 355px;
  height: 75px;
}
.royale-suite {
  top: 550px;
  left: 603px;
  font-size: var(--font-size-21xl);
  font-weight: 300;
  width: 233px;
  height: 52px;
}
.desktop-7-child31 {
  position: absolute;
  top: 201px;
  left: 972px;
  background-color: var(--color-white);
  width: 428px;
  height: 697px;
}
.itc-1-14 {
  position: absolute;
  top: 276px;
  left: 70px;
  width: 388px;
  height: 240px;
  object-fit: cover;
}
.book-now12 {
  position: absolute;
  top: 833px;
  left: 216px;
  font-weight: 900;
  color: var(--color-white);
}
.itc2-1-icon4 {
  position: absolute;
  top: 276px;
  left: 560px;
  width: 332.7px;
  height: 240px;
  object-fit: cover;
}
.feautring-imperial-rajasthani,
.rooms-are-reminiscent {
  margin: 0;
  white-space: pre-wrap;
}
.sena-pattis-or-commader-in-ch {
  margin: 0;
}
.bathrooms-these-suites,
.rajasthani-lifestyle,
.with-a-seperate {
  margin: 0;
  white-space: pre-wrap;
}
.feautring-imperial-rajasthani-container {
  position: absolute;
  top: 604px;
  left: 524px;
  font-size: var(--font-size-base);
}
.sheesh-mahal-or {
  margin: 0;
}
.experience1,
.small-mirrors-that,
.the-room-has,
.this-room-is {
  margin: 0;
  white-space: pre-wrap;
}
.sheesh-mahal-or-container {
  position: absolute;
  top: 604px;
  left: 980px;
  font-size: var(--font-size-base);
}
.itc3-1-icon4 {
  position: absolute;
  top: 272px;
  left: 992px;
  width: 388px;
  height: 240px;
  object-fit: cover;
}
.sheesh-mahal {
  position: absolute;
  top: 550px;
  left: 1052px;
  font-size: var(--font-size-21xl);
  font-weight: 300;
  display: inline-block;
  width: 268px;
  height: 41px;
}
.size-150-sq,
.wireless-internet {
  margin: 0;
  white-space: pre-wrap;
}
.best-view-of {
  margin: 0;
}
.size-150-sq-container {
  position: absolute;
  top: 730px;
  left: 1098px;
  font-family: var(--font-berkshire-swash);
}
.desktop-7-child32 {
  position: absolute;
  top: 833px;
  left: 1119px;
  border-radius: var(--br-31xl);
  width: 133px;
  height: 30px;
  cursor: pointer;
}
.book-now13 {
  position: absolute;
  top: 836px;
  left: 1136px;
  font-weight: 900;
  color: var(--color-white);
}
.download-4-icon17 {
  position: absolute;
  top: 73px;
  left: 14px;
  width: 75px;
  height: 75px;
  object-fit: cover;
  mix-blend-mode: color-burn;
  cursor: pointer;
}
.location-dot-solid-3-icon3 {
  position: absolute;
  top: 73px;
  left: 1355px;
  width: 50px;
  height: 74px;
  overflow: hidden;
  cursor: pointer;
}
.desktop-111,
.desktop-74 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkgray);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
}
.desktop-13 {
  width: 100%;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #b4b4b8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
